language: objective-c
osx_image: xcode10.1
xcode_workspace: DBBrowser.xcworkspace
xcode_sdk: iphonesimulator12.1

before_install:
  - pod repo update

matrix:
  include:
    - xcode_scheme: DBBrowser
    - xcode_scheme: DBBAPI
